{% extends "layouts/base.html" %}
{% load static %}

{% block title %}List of Books{% endblock title %}

{% block content %}

<h1>List of Books</h1>

<h2>
    <a href="{% url 'books.view_one_book' 1 %}">
        Internet & World Wide Web How to Program
    </a>
</h2>

<a href="{% url 'books.view_one_book' 1 %}">
    <img src="{% static 'book1.jpg' %}" alt="Book1 img desc">
</a>

<hr>

<h2>2) C++ How to Program, Late Objects Version</h2>

<img src="{% static 'book2.jpg' %}" alt="Book2 img desc">

<hr>

<h2>3) Images in Another Folder</h2>

<img src="{% static 'book3.jpg' %}" alt="Book3 img desc">

{% endblock content %}